# Dotman
alias /home/tykok/dotfiles/dotman.sh=dotman

# Python aliases
alias python3.9-create-env="python3.9 -m venv env && source env/bin/activate"
pip-save(){ pip install $1 && pip freeze > requirements.txt }
alias python-activate="source env/bin/activate"

# PlantUML
alias plantuml='java -jar /home/tykok/bin/plantuml/plantuml.jar'

# Common aliases
alias agu='sudo apt-get update'