[user]
	email = treportelie12@gmail.com
	name = Tykok
[core]
	autocrlf = false
	editor = code --wait
[diff]
	tool = vscode
[difftool "vscode"]
  	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  	tool = vscode
[mergetool "vscode"]
  	cmd = code --wait $MERGED
[init]
	defaultBranch = main
[alias]
	co = checkout
	commit-message-change = commit --amend -m
	branch-current = rev-parse --abbrev-ref HEAD
	amend = commit --amend
	amend-m = commit --amend -m $1
[commit]
  template = ~/.gitmessage
