.aws
.azure
.bash_history
.bash_logout
.bashrc
.cache
.config
.docker
DockerFile
Download
.gnup
.gradle
.java
.kite
Latex
.local
.mysql_history
.node_repl_history
.npm
.nvm
.oh-my-zsh
.psql_history
.python_history
.redhat
.shell.pre-oh-my-zsh
.sonarlint
.ssh
.sts4
.vscode*
.vue-cli-ui
.vuerx
.wget-hsts
windows
.yarn
.yarnrc
.zcompdump-MSI-5.8
.zsh_history
.gnupg
.profile
.vuerc
Projet
env
*__pycache__*
old-dotfiles
.zshrc
zshrc